* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background-color: #660033;
    color: white;
}

.brand-logo {
    font-family: 'Fondamento', cursive;
}

a {
    color: #d86b00;
}

main {
    font-family: 'Fondamento', cursive;
}