                                                                /* want a black or dark background, wood grain looking footer and header */
                                                            /* specilize white font, find a suitable rugged font from googe fonts */
                                                            /* want to soften some edges, turn them black to help with rugged wood effects */
                                                            
                                                            html,
                                                            body {
                                                                margin: 0;
                                                                padding: 0;
                                                                height: 100%;
                                                                background-color: #663333;
                                                            }
                                                            
                                                            button:active {
                                                                background-color: #CC9933;
                                                                color: #4E342E;
                                                            }
                                                            
                                                            button:hover {
                                                                background-color: #4E342E;
                                                                color: #CC9933;
                                                                cursor: pointer;
                                                            }
                                                            
                                                            button {
                                                                background-color: #663333;
                                                                color: white;
                                                            }
                                                            
                                                            .behold {
                                                                text-decoration: underline;
                                                                font-size: 60px;
                                                                font-weight: bold;
                                                                color: #CC6633;
                                                            }
                                                            
                                                            .behold:hover {
                                                                color: goldenrod
                                                            }
                                                            
                                                            #top {
                                                                font-size: 30px;
                                                                scroll-behavior: smooth;
                                                            }
                                                            
                                                            .brand-logo {
                                                                font-family: 'Londrina Shadow', cursive;
                                                                width: 600px;
                                                                text-shadow: 5px 5px 3px grey;
                                                            }
                                                            
                                                            main {
                                                                font-family: 'Fondamento', cursive;
                                                            }
                                                            
                                                            .beerBox {
                                                                background: linear-gradient(to bottom right, #CC9933, #CC6633, #CC9966);
                                                                text-align: center;
                                                                border: 3px solid #4E342E;
                                                                border-radius: 70px 70px 70px 70px;
                                                                margin: 10px;
                                                                box-shadow: 3x 3x 5x black;
                                                            }
                                                            
                                                            .beerBox:hover {
                                                                background: linear-gradient(to bottom left, #CC9933, #CC6633, #CC9966);
                                                                border: 3px dotted #CC6633;
                                                                color: rgb(70, 57, 57);
                                                                -moz-transform: scale(1.3) skew(12deg, 0deg);
                                                                -webkit-transform: scale(1.3) skew(12deg, 0deg);
                                                                -o-transform: scale(1.3) skew(12deg, 0deg);
                                                                -ms-transform: scale(1.3) skew(12deg, 0deg);
                                                                transform: scale(1.3) skew(12deg, 0deg);
                                                            }
                                                            
                                                            #beerName {
                                                                font-family: Verdana;
                                                                font-family: 'Londrina Shadow', cursive;
                                                                font-size: 50px;
                                                                display: inline-block;
                                                                text-align: horizontal;
                                                                color: #C0392B;
                                                                display: inline;
                                                            }
                                                            
                                                            .modalTitle {
                                                                font-family: 'Londrina Shadow', cursive;
                                                                font-size: 80px;
                                                                color: #CC6633;
                                                            }
                                                            
                                                            .modalItems {
                                                                color: #CC9933;
                                                                font-family: Verdana;
                                                                font-size: 20px;
                                                            }
                                                            
                                                            .modalImage {
                                                                box-shadow: 5px 5px 5x grey;
                                                            }
                                                            /* below affects only tje beer buttons in the JS generated list */
                                                            
                                                            #button {
                                                                width: 50px;
                                                                height: 30px;
                                                                box-shadow: 5px 5px 5x grey;
                                                            }
                                                            
                                                            .tagline {
                                                                font-size: 20px;
                                                            }
                                                            
                                                            #hiddenInfo {
                                                                width: 100%;
                                                                opacity: 0;
                                                                height: 100%;
                                                                font-size: 15px;
                                                                font-family: Verdana;
                                                                text-shadow: 4px 4px 3px #CC6633;
                                                            }
                                                            /* below is the buy me a beer button */
                                                            
                                                            .bmc-button img {
                                                                height: 34px !important;
                                                                width: 35px !important;
                                                                margin-bottom: 1px !important;
                                                                box-shadow: none !important;
                                                                border: none !important;
                                                                vertical-align: middle !important;
                                                            }
                                                            
                                                            .bmc-button {
                                                                padding: 7px 15px 7px 10px !important;
                                                                line-height: 35px !important;
                                                                height: 51px !important;
                                                                text-decoration: none !important;
                                                                display: inline-flex !important;
                                                                color: #000000 !important;
                                                                background-color: #FFDD00 !important;
                                                                border-radius: 5px !important;
                                                                border: 1px solid transparent !important;
                                                                padding: 7px 15px 7px 10px !important;
                                                                font-size: 28px !important;
                                                                letter-spacing: 0.6px !important;
                                                                box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                                                                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                                                margin: 0 auto !important;
                                                                font-family: 'Cookie', cursive !important;
                                                                -webkit-box-sizing: border-box !important;
                                                                box-sizing: border-box !important;
                                                            }
                                                            
                                                            .bmc-button:hover,
                                                            .bmc-button:active,
                                                            .bmc-button:focus {
                                                                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                                                text-decoration: none !important;
                                                                box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                                                opacity: 0.85 !important;
                                                                color: #000000 !important;